pert8/db/mariadb/*
pert8/db/postgres/*
pert8/db/mongo/*
pert8/db/redis/*
pert10/db/data/*
pert10/db/*
pert12/db/data/*
pert12/db/*
silmulasi_1/db/data/*
silmulasi_1/db/*
silmulasi/db/data/*
silmulasi/db/*
